.mdl-option {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mdl-option.mdl-option--selected {
    color: #ff4081;
}
.mdl-option.mdl-option--disabled {
    color: #bbb;
}
.mdl-option.mdl-option--disabled:hover {
    background: #fff;
    cursor: default;
}
.mdl-option:hover {
    background: #eee;
}
.mdl-option:focus {
    outline: none;
    background: #eee;
}
