.mdl-multiselectfield {
  position: relative;
  width: 300px;

  .mdl-taglist {
    margin-top: 5px;

    .mdl-button {
      position: relative;
      min-width: auto;
      padding: 0 6px;
      margin: 0 6px 7px 0;
      height: 24px;
      line-height: 24px;
      text-align: left;
      font-size: 14px;
      text-transform: none;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);

      .material-icons {
        margin-left: 4px;
        font-size: 12px;
      }
    }
  }

}
