.mdl-portalmenu__item {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: #eee;
  }

  &:focus {
    outline: none;
    background: #eee;
  }

}
