.mdl-option {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.mdl-option--selected {
    color: #ff4081;
  }

  &.mdl-option--disabled {
    color: #bbb;
    &:hover {
      background: #fff;
      cursor: default;
    }
  }

  &:first-child {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 5px;
  }

  &:hover {
    background: #eee;
  }

  &:focus {
    outline: none;
    background: #eee;
  }

}
