.mdl-option__list {
    display: block;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.mdl-option__list *, .mdl-option__list *:before, .mdl-option__list *:after {
    box-sizing: inherit;
}
