.mdl-selectfield {
  position: relative;
  width: 300px;

  &.mdl-selectfield--menu-below {
    .mdl-menu__container {
      margin-top: -20px;
    }
  }

  &.mdl-selectfield--empty {
    .mdl-menu__container {
      display: none;
    }
  }

  &.mdl-selectfield--error {
    .mdl-selectfield__arrow {
      color: #d50000;
    }
  }

  .mdl-textfield {
    width: 100%;

    &.is-invalid {
      .mdl-textfield__label {
        color: #d50000;
        font-size: 16px;
      }
    }

  }

  .mdl-selectfield__arrow {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    line-height: 27px;
    top: 20px;
    right: 0px;
    color: #ccc;
  }

  &.mdl-selectfield--floating-label {
    .mdl-menu__container {
      margin-top: -46px;
    }
  }

  .mdl-menu__container {
    width: 100% !important;
    margin-top: -52px;

    .mdl-menu {
      width: 100% !important;
      max-height: 250px;
      overflow-x: hidden;
      overflow-y: auto;

      .mdl-menu__item {
        height: 32px;
        line-height: 32px;

        &.mdl-menu__item--selected {
          color: #ff4081;
        }

        &.mdl-menu__item--disabled {
          &:hover {
            background: #fff;
          }
          color: rgba(0, 0, 0, 0.26);
        }
      }
    }
  }

}
